* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

h1 {
    font-size: 2rem;
}

.botao-comprar {
    padding: 0.7rem 1rem;
}


#hero {
    text-align: center;
}

header nav a {
    color: black;
}

main > section {
    margin-bottom: 2rem;
}


h2 + p {
    margin-top: 0.5rem;
}


input[type="email"] {
    padding: 0.5rem;
}


nav a:hover,
.botao-comprar:hover {
    opacity: 0.7;
}

#hero h2::first-letter {
    font-size: 3rem;
    font-weight: bold;
}


img {
    max-width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000;
    padding: 1rem;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
