* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

h1 {
    font-size: 2rem;
}

.inicio,
.fim {
  background-color: #8912ce;
  color: white;
  text-align: center;
}
.site-nav {
  background-color: #b826dd;
  padding: 10px;
  
}
.site-nav li {
  display: inline-block;
  margin-right: 15px;
  text-align: center;
}
.site-nav a {
  color: white;
  text-decoration: none;
}
.main-content,
.compras {
  padding: 20px;
  width: 100%; 
 background-color: #ffffff;
  text-align: center;
}
.logo {
    float: left;
    width: 43px;
}

.recursos{
    text-align: center;
    background-color: #b826dd;
}
.recursos a{
color: white;
  text-decoration: none;
}

.container {
  border: 2px dashed  #ffffff;
  padding: 10px;
  margin-bottom: 80px;
}

.imagem-post {
max-width: 100%;
height: 100%;
display: block;
margin-bottom: 1rem; 
border-radius: 6px; 
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.caixa1 {
position: relative;
  width: 150px;
  height: 100px;
  padding: 10px;
  left: 30px
}

.caixa2 {
    position: absolute;
  width: 150px;
  height: 100px;
  padding: 10px;
  left: 215px;
  top: 245.5px;
}
.caixa3 {
    position: absolute;
  width: 150px;
  height: 100px;
  padding: 10px;
  
  left: 380px;
  top: 245.5px
}
.caixa4 {
    position:relative;
  width: 150px;
  height: 100px;
  padding: 10px;
  top: 50px;
  left: 30px;
}
.caixa5 {
    position: absolute;
  width: 150px;
  height: 100px;
  padding: 10px;
  left:215px;
  top: 395px;
}

.caixa6 {
    position: absolute;
  width: 150px;
  height: 100px;
  padding: 10px;
  left:380px;
  top:395px;
}
